body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../src/assests/fonts/SEGOEUI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Nav-bar{
background-color: transparent !important;
font-family: 'Poppins', sans-serif  !important;  
color: #343232;
font-size: 13px;
font-weight: 500;
}
/* .nav-rightlist{
  width: 50%;
} */
.nav-rightdiv{
  width: 40%;

  display: flex;
  justify-content:space-between;

}
.herosection{
  width: 100%;
  height: 500px;
  background-image: url("./assests/plabtss.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8); /* Black color with 50% opacity */
  
  padding: 0;
  margin-bottom: 5%;
  object-fit: contain;
}
.countodown{
  color: black !important;
}
.countdown-div{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
margin-top: 10%;

  color: black !important;
}
.countdown-div div{
  text-align: center;
}
/* Countdown container */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Countdown container */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 4%;
  color: black;
  font-family: 'Poppins', sans-serif  !important;  
}
.comingsoon{
  text-align: center;
margin-bottom: 0;
color: #343232;
margin-top: 10%;
font-family: 'Poppins', sans-serif  !important;  


}
.dots{
  height: 55px;
  font-size: 55px;
  color: black;
}


/* Countdown item (days, hours, minutes, seconds) */
.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  font-weight: bold;
  position: relative;
  font-family: 'Noto Sans Old Permic', sans-serif;
}

/* Apply transitions to the numbers for a smooth effect */
.countdown-item span {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

/* Add a class to fade out the number */
.countdown-item.fade-out span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Add a class to fade in the new number */
.countdown-item.fade-in span {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.date-heading{
  font-size: 12px;
  font-family: 'Poppins', sans-serif  !important;  
  color: #343232;

}
.time{
  font-size: 50px;
  font-family: 'Open Sans', sans-serif !important;
  color: black;
font-weight: 500;
}
.icon-box{
  position: absolute;
  height: 100px;
  top: 35%;
  right: 6%;
  gap: 20px;
  color: #343232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons{
  color: #343232;
}
.video-section{
  width: 100%;
  height: 800px;
  background-color: rgba(209, 143, 127, 0.2);


 
}
.quiz-section{
  width: 100%;
  
  background-color: rgba(209, 143, 127, 0.2);
  margin-top: 10%;
  font-family: 'Poppins', sans-serif  ;
  margin-bottom: 20%;
}
.quiz-section h4{
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 30px;

  padding-top: 50px;
}



.video-section h4{
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 30px;

  padding-top: 50px;

}
.video-section p{
  font-family: 'Poppins', sans-serif  ;
  font-size: 20px;
  color: #343434;
  text-align: center;
}
.video-box{
  margin-top: 7%;
}
.textdiv{
  display: flex;
  align-items: center;
}
.iframe-box{
  width: 100% !important;
  height: 100% !important;
}
.email-div{
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
}
.Questions-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif  ;
  font-weight: 600;
}
.next-button{

  border: none;
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif  ;
  border-radius: 10px;
font-weight: 600;
  padding: 5px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.radio-div{
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.options-div{
  display: flex;
  flex-direction: column;
}
.next-btn-div{
  display:flex;
  justify-content: flex-end;
}
.options-div label{
  display: block;
  width: 100%;

}
.options-div div{
 cursor: pointer;
  padding: 20px;
  background-color: white;
  margin-top: 5%;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.selected-label {
color: green !important;
background-color: #343434 !important;

}
.options-div .selected-option{
  background-color: #8B80B6
  ;
}
.email-input{
  border: none;
  outline: none;
 font-size: 12px;
 padding: 5px;
}
.email-input ::placeholder{
  font-size: 15px;
}